body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    padding: 50px;
}

form{
    margin: 20px auto;
}

input, button {
    padding: 10px;
    margin: 10px;
    border: 1px solid #270b0b;
    border-radius: 5px;
}