nav {
    background-color: rebeccapurple;
    overflow: hidden;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
}

nav li{
    float: left;
}

nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* Quitamos el subrayado */
}

nav li a:hover{
    background-color: #111;
}

#listas-ordenadas{
    background-color: #f0f0f0;
    padding: 10px;
    border: dotted;
    border-radius: 10% / 10%;
    margin: 10px;
}

#element {
    border-width: medium;
    border-style: solid;
    border-color: #871313;
    text-align: justify;
    padding: 5%;
/*    background-color: bisque;*/
}

.p1{
    color: rgb(80,215,200);
}

.p2{
    color: burlywood;
}

/* Conteo con numeros romanos */
/*             #listas-ordenadas ol{
    list-style-type: upper-roman;
} */
/* Cambiar el color del texto de la lista ordenada */
/*             #listas-ordenadas li{
    color: #2f00ff;
} */

.tarjeta{
    background-color: cadetblue;
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 5px solid royalblue;
    border-radius: 10px;   
    box-shadow: 0 2px 5px rgba(0,0,0,0.p1);
}

.tarjeta img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.tarjeta h2{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

.tarjeta p{
    line-height: 1.5;
}

.tarjeta a{
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    background-color: aquamarine;
    color: royalblue;
    text-decoration: none;
}

.tarjeta:hover{
    box-shadow: 0 4px 8px rgba(153, 23, 23, 0.2);
}
