body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.contact-form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.contact-form h2 {
    margin: 20px;
}
.contact-form .form-group {
    margin-bottom: 15px;
}
.contact-form .form-group label {
    display: block;
    margin: 5px;
}
.contact-form .form-group input,
.contact-form .form-group textarea {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form .form-group textarea {
    resize: vertical;
}
.contact-form button {
    background: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.contact-form button:hover {
    background: #4cae4c;
}
